[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
folium = "*"
pandas = "*"
arrow = "*"
peewee = "*"
invoke = "*"
python-slugify = "*"

[dev-packages]
ipdb = "*"

[requires]
python_version = "3.7"
